.card-container {
  flex: 0 0 95%;
  width: 95%;
  display: flex;
  margin: 2%;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  
  img {
    width: 50%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }
}

.card-desc {
  color: #525252;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 2%;

  h2 {
    color: var(--secondary-color);
    font-size: 1.5em;
    font-weight: 300;
  }

  p {
    margin: 0.2em;
  }

  .activity-cat {
    border: 0.5px solid black;
    max-width: 20%;
    padding: 1% 10%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .activity-address {
    font-style: italic;
  }
}

@media only screen and (max-width: 900px) {
  .card-container { 
    display: flex;
    flex-direction: column;
    
    img {
      width: 100%;
      object-fit: cover;
      max-height: 200px;
      border-radius: 10px 10px 0 0  ;
    }
  }
  
  .card-desc {
    padding: 1em;

    h2 {
      color: var(--secondary-color);
      font-size: 1em;
      font-weight: 300;
    }

    p {
      font-size: 0.9em;
      margin: 0.2em;
    }

    
  }
}