.embla {
  overflow: hidden;
  width: 60%;
}


.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 95%;
  min-width: 0;
  border: 1px solid var(--secondary-color);
  border-radius: 7px;
  margin-right: 20px;
  margin-left: 10px;

  p {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    padding: 30px;
  }
}

.embla__slide:nth-child(1) {
  margin-right: 10px;
}
.embla__slide:nth-child(2) {
  margin-right: 20px;
  margin-left: 10px;
}

.embla__slide:nth-child(3) {
  margin-right: 10px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .embla {
    flex: 0 0 100%; /* Breakpoint SM slide covers 50% of the viewport */
  }
}
