.get-out-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.plan-activity {
  img{
    height: 70vh;
  }
}
.getout-header {
  text-align: center;
  color: #525252;
  width: 90%;
}

@media (max-width: 1024px) {
  .plan-activity {
    height: 85%;
  }
}
