.get-out-section {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.plan-activity {
  width: 85%;
  height: 85%;
  background-image: url("./src/assets/images/plan.png");
  background-size: cover;
}
.getout-header {
  text-align: center;
  color: #525252;
  width: 90%;
}
