@import url("https://fonts.googleapis.com/css?family=Poppins:700|Roboto:400");

:root {
  --text: #071303;
  --primary-color: #afcfa4;
  --secondary-color: #b9abc6;
  --background-color: #f3fbf0;
  --accent: #ffd400;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  color: var(--text);
}



h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
  color: var(--text);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
}

small {
  font-size: 0.75em;
}
