@import url("https://fonts.googleapis.com/css?family=Poppins:700|Roboto:400");

:root {
  --text: #071303;
  --primary-color: #afcfa4;
  --secondary-color: #b9abc6;
  --background-color: #f3fbf0;
  --accent: #ffd400;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 2em; /* 67.36px */
}

h2 {
  font-size: 1.8em; /* 50.56px */
}

h3 {
  font-size: 1.6em; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}
