@import url("https://fonts.googleapis.com/css?family=Poppins:700,300|Roboto:400");

:root {
    --text: #071303;
    --primary-color: #afcfa4;
    --secondary-color: #b9abc6;
    --background-color: #f3fbf0;
    --accent: #ffd400;
    background-color: #f3fbf0;
    background-image: radial-gradient(#b9abc6 1.1px, transparent 1.1px),
        radial-gradient(#b9abc6 1.1px, #f3fbf0 1.1px);
    background-size: 44px 44px;
    background-position: 0 0, 22px 22px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color);
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  color: var(--text);
  height: 100vh;
  max-width: 60vw;
  margin: 0 20vw;
}

footer{
  align-self: flex-end;
  display:flex;
  justify-content: center;
  text-align: center;
  margin: 5vw 0;
  padding : 0 10vw;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
  color: var(--text);
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
    font-size: 1.8em;
}

small {
  font-size: 0.75em;
}

@media only screen and (max-width: 900px) {
  body {
    height:auto;
    max-width: 95vw;
    margin: 5vw;
  }
}
