@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.time {
  font-family: "Caveat";
  display: flex;
  justify-content: center;
  font-size: 130px;
  margin: 0px;
}

.textetimer {
  font-family: "Poppins";
  font-size: 28px;
  text-align: center;
  width: 64%;
}
.timertext {
  display: flex;
  justify-content: center;
}
.timeflex {
  display: flex;
  justify-content: center;
}
.logotimer {
  width: 250px;
}
.timerlogo {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.selecttime {
  display: flex;
  justify-content: center;
}
