.search-decoration {
    margin: 50px 0 0 0;
    padding: 2px;
    width: 60vw;
    max-width: 500px;
    border-radius: 50px;
    border: #b9abc6 solid 1px;
}

.main-search {
    background-color: var(--main-bg-color);
    border: none;
    width: 100%;
    padding: 10px 10px;
    max-width: 250px;
    border-radius: 50px;
    border: #b9abc6 solid 2px;
    background-color: aliceblue;
}

.search-icon {
    color: var(--dark-prime);
    width: 100;
}

@media only screen and (max-width: 900px) {
    .search-icon {
        width: 50px;
    }

    .main-search > input {
        font-size: 0.4em;
    }
}
