.search-decoration {
    margin: 50px 0 0 0;
    padding: 2px;
    border: 1px solid var(--dark-prime);
    width: 60vw;
    max-width: 500px;
    border-radius: 50px;
}

.main-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    padding: 2px 20px;
    background-color: var(--main-bg-color);
    border: 1px solid var(--dark-prime);
}

.main-search {
    font-family: var(--title-font);
    background-color: var(--main-bg-color);
    border: none;
    width: 100%;
    padding: 10px 10px;
    width: 100%;
}

.main-search:focus {
    outline: none;
}

.search-icon {
    color: var(--dark-prime);
    width: 100;
}

@media only screen and (max-width: 768px) {
    .search-icon {
        width: 50px;
    }
    .global-search-container {
        padding: 15px;
        flex-direction: column;
    }

    .global-search-container > input {
        font-size: 0.7em;
    }
}
